.chef-priority{
    display: flex;
    justify-content: space-between;
}

.card{
    color: white;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.758)), url("https://images.pexels.com/photos/784632/pexels-photo-784632.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    border: 1px solid rgba(0, 0, 255, 0.171);
}

.card-image{
    padding: 10px;
    border-radius: 20px;
}